.login {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginContent {
	width: 40%;
	background-color: white;
	display: flex;
	flex-direction: column;
	padding: 20px 0;
	align-items: center;
}

.loginHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.loginContent form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
}

.loginContent input {
	width: 60%;
}

.loginContent .modalButton {
	margin-top: 25px;
}
