.login {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-white);
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginContent {
	width: 90%;
	background-color: white;
	border: 1px solid var(--color-grey);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 50px 0;
	align-items: center;
}

.loginHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.loginContent form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
}

.loginContent input {
	width: 90%;
}

@media (min-width: 768px) {
	.loginContent {
		padding: 20px;
		width: 70%;
		gap: 0;
	}
}

@media (min-width: 1024px) {
	.loginContent {
		padding: 50px;
		width: 50%;
	}
}
