/* Nav component styling */
nav {
  background-color: var(--color-black);
  padding: 10px;
  color: var(--color-lime);
}

h1 {
  font-size: 2.5rem;
}

a {
  color: var(--color-lime);
  font-size: 1.5rem;
  transition: all 0.3s;
}

a:is(:hover, :focus) {
  color: var(--color-white);
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.unit {
  width: 50%;
  display: flex;
  align-items: left;
  margin-top: 10px;
}
.button {
  padding: 15px;
  background-color: var(--color-lime);
  border: 3px solid var(--color-black);
  border-radius: 50px;
  color: var(--color-black);
  transition: all 0.3s;
}

.button:is(:hover, :focus),
#searchb:is(:hover, :focus) {
  background-color: var(--color-white);
}
/* SearchBar Component Styling */
.searchForm {
  flex-grow: 0.3;
  display: flex;
}

#sinput {
  padding: 10px;
  color: var(--color-black);
}
#searchb {
  margin: 0 10px;
  padding: 10px 20px;
  background-color: var(--color-lime);
  border-radius: 50px;
  color: var(--color-black);
  transition: all 0.3s;
}
