/* Nav component styling */
#wrap {
    border: 3px solid black;
    padding:10px
}
#container  {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom:5px;
}
.unit  {
    width: 50%;
    display: flex;
    align-items:left;
    margin-top: 10px
}
#button  {
    width: 200px;
    border: 3px solid limegreen;
    border-radius: 50px;
    color: black
}
/* SearchBar Component Styling */
#sinput{
    border:2px solid limegreen;
    color: black
}
#searchb  {
    width: 80px;
    border: 3px solid limegreen;
    border-radius: 50px;
    color: black
}
